.main-screen {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 300px;

    li {
      margin: 10px 20px;

      button {
        width: 100%;
        display: block;
        padding: 15px 0;
        font-size: 30px;
        border-radius: 10px;
        border-width: 1px;
        outline: none;
        cursor: pointer;
      }
    }
  }
}

.control {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;

  position: absolute;
  z-index: 999;
  border: 1px solid gray;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
  background: white;
  bottom: 0;
  left: calc((100% / 2) - 150px);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

  &__left, &__center, &__right {
    width: 33%;
  }

  &__right {
    //display: none;
    text-align: right;

    .mark-button {
      width: 30px;
      height: 30px;
      border: 1px solid gray;
      border-radius: 5px;
      background: url(../assets/cursor.svg) center center no-repeat;
      background-size: 60%;
      outline: none;

      &.active {
        background: url(../assets/flag.svg) center center no-repeat;
        background-size: 70%;
      }
    }
  }

  &__full {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px 0;
  }

  .time, .mines {
    font-size: 25px;
    font-weight: bold;
    line-height: 1;

    .icon {
      width: 20px;
      height: 20px;
      display: inline-block;

      &.icon-timer {
        background: url("../assets/timer.svg") center center no-repeat;
      }

      &.icon-bomb {
        background: url("../assets/bomb.svg") center center no-repeat;
      }
    }

    span {
      display: inline-block;
      height: 30px;
      margin-left: 5px;
    }
  }
}

.field {
  padding: 5px 20px 20px;
  overflow: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .line {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 20px;

    .cell {
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      text-align: center;
      padding: 5px;
      border: 1px solid var(--cell-border);
      width: var(--cell-size);
      height: var(--cell-size);
      display: inline-block;
      background: var(--cell-bg);
      cursor: pointer;
      font: bold 15px Arial;
      margin: 1px;
      border-radius: 3px;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);

      &:hover {
        opacity: 0.6;
      }

      &.opened {
        background: white;
        cursor: help;
      }

      &.marked {
        background: url("../assets/flag.svg") center center no-repeat,
          var(--cell-bg);
        background-size: 80%;
      }

      &.mined {
        background: url("../assets/bomb.svg") center center no-repeat;
        background-size: 60%;
      }

      &:not(.mined).value- {
        &1 { color: #078b07; }
        &2 { color: #2542d5; }
        &3 { color: #ff8400; }
        &4 { color: #b69f27; }
        &5 { color: #c42e2e; }
        &6 { color: #71007b; }
        &7 { color: #920025; }
        &8 { color: #4e0202; }
      }
    }
  }
}

.modal {
  width: 100%;
  max-width: 600px;
  margin: 20px;
  padding: 20px;
  z-index: 1001;
  background: white;
  border-radius: 10px;
  text-align: center;

  &__background {
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: grid;
    place-items: center;
  }

  &-title {
    border-bottom: 1px solid cadetblue;
    padding: 0 0 20px;
    margin-bottom: 20px;
    font-weight: bold;
  }
}

button {
  padding: 3px 8px;

  & + button {
    margin-left: 5px;
  }
}
