html, body, body > * {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

:root {
  @media (max-width: 768px) {
    .control__right {
      //display: block !important;
    }
  }

  font-family: Arial, serif;
  --cell-size: 30px;
  --cell-border: silver;
  --cell-bg: lightgray;

  * { box-sizing: border-box; }
}
